<div>
  <h1 class=""> {{title}}</h1>

  <h1>timer : {{timer}}</h1>

  <img [src]="imgURL" alt="">
  <app-img [imgURL]="omegaSquadFizzPic"/>

  <h1>number == {{number}}</h1>

  <p class="font-italic">
    ngClass solve the problem of duplicated class name.
  </p>

  <div>
  <app-button
    type="+"
    (dif)="onDif($event)">+</app-button>
  <app-button
    type="-"
    (dif)="onDif($event)">-</app-button>

  <app-button><span class="bg-red-500">Hello world</span></app-button>
    <app-button
      routerLink="members"
    >Members</app-button>
</div>
</div>
